<DOCTYPE html>
<html>

<head>
	<title>Create New fakeUser</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<form action="new_user_submit" enctype="multipart/form-data" method="post">
		<div>
			<label for="firstname">First Name</label>
			<input type="text" name="firstname" placeholder="John"/>
		</div>

		<div>
			<label for="lastname">Last Name</label>
			<input name="lastname" type="text" placeholder="Doe"/>
		</div>

		<div>
			<label for="address">Address</label>
			<input name="address" type="text" placeholder="123 Fake Street"/>
		</div>

		<div>
			<label for="city">City</label>
			<input label="City" name="city" type="text" placeholder="Feign City"/>
		</div>

		<div>
			<label for="State">State</label>
			<input type="text" name="state" placeholder="MA"/>
		</div>

		<div>
			<label for="zip">Zip</label>
			<input type="text" name="zip" placeholder="12345"/>
		</div>

		<div>
			<label for="phone">Phone</label>
			<input type="text" name="phone" placeholder="0123456789"/>
		</div>

		<div>
			<input type="submit" class="sub" value="Create User"/>
		</div>
	</form>

</body>

</html>